name: Build macOS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: JDK setup
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: corretto

      - name: Cache konan directory
        uses: actions/cache@v3
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('*.gradle.kts', 'buildSrc/*') }}
          restore-keys: |
            ${{ runner.os }}-konan-

      - name: Mac build
        run: |
          ./gradlew macosX64Test iosX64Test watchosX64Test tvosX64Test \
          publishKotlinMultiplatformPublicationToMavenLocal \
          publishIosArm64PublicationToMavenLocal \
          publishIosSimulatorArm64PublicationToMavenLocal \
          publishIosX64PublicationToMavenLocal \
          publishMacosX64PublicationToMavenLocal \
          publishMacosArm64PublicationToMavenLocal \
          publishWatchosArm32PublicationToMavenLocal \
          publishWatchosArm64PublicationToMavenLocal \
          publishWatchosDeviceArm64PublicationToMavenLocal \
          publishWatchosSimulatorArm64PublicationToMavenLocal \
          publishWatchosX64PublicationToMavenLocal \
          publishTvosArm64PublicationToMavenLocal \
          publishTvosSimulatorArm64PublicationToMavenLocal \
          publishTvosX64PublicationToMavenLocal \
          --no-daemon --stacktrace

      - name: Mac sample Gradle build
        run: |
          cd sample
          ./gradlew iosX64Test --no-daemon --stacktrace
        env:
          GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx3g"

      - name: Mac sample Xcode simulator build
        run: |
          cd sample/app-ios
          xcodebuild -configuration Debug -scheme SettingsDemo -sdk iphonesimulator -arch x86_64
